/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #2d2d2d;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #e6dede;
  border-radius: 10px;
  border: 2px solid #2d2d2d;
  height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #e8dfdf;
}
